
@{
    ViewBag.Title = "JobList";
}

@Scripts.Render("~/HomeJobList/js")


<section class="section-hero overlay inner-page bg-image" style="background-image: url('../Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Job List</h1>
                <div class="custom-breadcrumbs">
                    <a href="~/Home/Index">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Job List</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div id="CheckJobList" class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">

                <h5 class="section-title font-weight-bold mb-2"><a style="text-decoration: underline;font-size:22px;">@ViewBag.PostList.Count รายการ</a></h5>
            </div>
        </div>

        <ul class="job-listings">

            @if (ViewBag.PostList.Count != 0)
            {
                foreach (var PostJob in ViewBag.PostList)
                {
                    <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                        <a href="~/Home/JobSingle?JOB=@PostJob.ID"></a>
                        <div class="job-listing-meta">
                            <label class="col-xl-3 col-lg-4  col-md-4">
                                <input id="OPOth" type="checkbox" class="z" value="@PostJob.ID">
                            </label>
                        </div>

                        <div class="job-listing-logo">
                            <img src="~/Content/images/LOGO/@PostJob.Logo_Image" alt="No Logo" class="img-fluid">
                        </div>

                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                            <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                                @PostJob.JOB_Title<br />
                                <strong>@PostJob.Company_Name</strong><br />
                                <strong>Update @PostJob.JOB_UpdateDate</strong><br />
                                <strong>แผนก @PostJob.JOB_Region</strong>
                            </div> <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                                <span class="icon-check"> Experience: @PostJob.Experience</span><br />
                                <span class="icon-check"> Salary: @PostJob.Salary</span><br />
                                <span class="icon-check"> Gender: @PostJob.Gender</span><br />
                            </div>
                            <div class="job-listing-meta">
                                @if (@PostJob.JOB_Type == "Part Time")
                                {<span class="badge badge-danger">@PostJob.JOB_Type</span>}

                                @if (@PostJob.JOB_Type == "Full Time")
                                {<span class="badge badge-success" style="background-color:#2114c4">@PostJob.JOB_Type</span>}
                            </div>
                        </div>

                    </li>

                }
            }
        </ul>

        <div class="row mb-6" hidden>
            <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3 mb-4 mb-lg-0">
            </div>
            <div class="col-xl-2 col-sm-2 col-md-2 col-lg-2 mb-4 mb-lg-0">
            </div>



        </div>
        <div class="row mb-6">

            <div class="col-xl-4 col-sm-2 col-md-3 col-lg-4 mb-4 mb-lg-0">

            </div>
            <div class="col-xl-4 col-sm-8 col-md-6 col-lg-4 mt-3 mb-4 mb-lg-0">
                <div class="row">
                    <div class="col-6">
                        <!-- <a href="#" id="ApplyJobList" class="btn btn-block btn-primary btn-md"><span class="icon-add mr-2"></span>Apply</a>-->
                        <button id="ApplyJobList" type="button" class="btn btn-block btn-primary btn-md"><span class="icon-save mr-2"></span>Apply</button>

                    </div>
                    <div class="col-6">
                        <a id="ClearJobList" href="~/Home/JobList?JOB=#" class="btn btn-block btn-light btn-md"><span class="icon-clear_all mr-2"></span>Clear</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="Regist" class="container" style="display:none">
        <div class="col-md-12 mb-12 mb-md-0">
            <div class="col-md-12 text-center">
                <h5 class="section-title font-weight-bold mb-2"><a style="text-decoration: underline;font-size:22px;">ข้อมูลการสมัคร</a></h5>

            </div>
        </div>
        <ul class="job-listings">

            <li class="text-center"><i style="color:red">ข้อมูลผู้สมัคร</i></li>
            <li class="mb-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 mb-4 mb-md-0">
                            <i class="text-black" for="fname">คำนำหน้า</i><i style="color:red">*</i>
                            <select id="TitleEN" class="form-control FontSize">
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Miss.">Miss.</option>
                            </select>
                        </div>


                        <div class="col-md-5 mb-4 mb-md-0">
                            <i class="text-black" for="fname">ชื่อ</i><i style="color:red">*</i>
                            <input type="text" id="NameEN" class="form-control FontSize" placeholder="Name (En)">
                        </div>


                        <div class="col-md-5 mb-4 mb-md-0">
                            <i class="text-black" for="fname">นามสกุล</i><i style="color:red">*</i>
                            <input type="text" id="SurnameEN" class="form-control FontSize" placeholder="Surname (En)">
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-md-2 mb-4 mb-md-0">
                            <select id="TitleTH" class="form-control FontSize">
                                <option value="นาย">นาย</option>
                                <option value="นาง">นาง</option>
                                <option value="นางสาว">นางสาว</option>
                            </select>
                        </div>


                        <div class="col-md-5 mb-4 mb-md-0">
                            <input type="text" id="NameTH" class="form-control FontSize" placeholder="ชื่อ (ไทย)">
                        </div>


                        <div class="col-md-5 mb-4 mb-md-0">
                            <input type="text" id="SurnameTH" class="form-control FontSize" placeholder="นามสกุล (ไทย)">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <div class="text-black form-group" id="data_4">
                                <i>วัน/เดือน/ปี เกิด</i><i style="color:red">*</i>
                                <div class="input-group date">
                                    <input id="BDate" type="text" class="form-control FontSize" placeholder="..../..../....">
                                    <div class="input-group-append input-group-addon"><span class="input-group-text px-3"><i class="icon-calendar"></i></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3" hidden>
                            <i class="text-black" for="fname">เพศ</i><i style="color:red">*</i>
                            <select id="Sex" class="form-control  FontSize">
                                <option value="ชาย">ชาย</option>
                                <option value="หญิง">หญิง</option>
                                <option value="Non" selected>Non</option>
                            </select>
                        </div>

                        <div class="col-md-3">
                            <i class="text-black" for="fname"><i>เบอร์โทร</i></i><i style="color:red">*</i>
                            <input type="text" id="Phone" class="form-control FontSize" placeholder="e.g. 081-88888888" onkeyup="this.value=this.value.replace(/[^0-9.-]/g,'')">
                        </div>

                        <div class="col-md-3 ">
                            <i class="text-black" for="fname"><i>E-Mail</i></i><i style="color:red">*</i><i id="result"></i>
                            <input type="email" id="Email" class="form-control FontSize" placeholder="e.g. Adisorn@abc.com">
                        </div>
                        <div class="col-md-3 ">
                            <i class="text-black mt-3" for="fname"><i>ตำแหน่งปัจจุบัน</i></i>
                            <input type="text" id="PositionOld" class="form-control FontSize" placeholder="กรอกข้อมูลตำแหน่งปัจจุบัน">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3 mb-4 mb-md-0 text-left">
                            <form class="btn  btn-file border-dark" style="background-color:darkgrey" id="formUPCV" enctype="multipart/form-data">
                                <span style="color:red" class="icon-file-pdf-o mr-2"></span>
                                <i id="CV" style="color:white"> แนบประวัติการทำงาน</i><input type="file" name="file" id="CVUplode" hidden />
                                <!--  <i id="CV" style="color:red">**</i> -->
                            </form>

                            <form class="btn  btn-file border-dark mt-1" style="background-color:darkgrey" id="formUPPIC" enctype="multipart/form-data">
                                <span style="color:red" class="icon-file-pdf-o mr-2"></span>
                                <i id="PIC" style="color:white"> แนบรูปถ่ายตัวเอง</i><input type="file" name="file" id="PICUplode" />
                            </form>
                            <form class="btn  btn-file border-dark mt-1" style="background-color:darkgrey" id="formUPCER" enctype="multipart/form-data">
                                <span style="color:red" class="icon-file-pdf-o mr-2"></span>
                                <i id="CER" style="color:white"> แนบประกาศนียบัตร</i><input type="file" name="file" id="CERUplode" />
                            </form>
                            <br /><i class="FontSize" style="color:orangered">&nbsp;* ขนาดไฟล์ไม่เกิน 4 MB</i>
                        </div>
                        <div class="col-md-9 col-sm-12 col-xs-12 margin-bottom-1">
                            <i class="text-black" for="fname">ที่อยู่</i>
                            <textarea class="form-control FontSize" rows="6" id="Address" name="address" placeholder="กรอกที่อยู่"></textarea>

                        </div>
                    </div>
                    <div class="row mt-3">

                        <div class="col-md-4 ">

                        </div>

                    </div>
                </div>

            </li>
        </ul>

        <ul class="job-listings mt-3">

            <li class="text-center"><P style="font-size:18px">ตำแหน่งงานที่สมัคร</P></li>
            <li class="mb-3">

                <div class="container">

                    <div class="row mt-3">
                        <table class="table  table-hover Text customers " id="tab_logic">
                            <thead>
                                <tr>
                                    <th width="5%">ลำดับ</th>
                                    <th width="25%">ตำแหน่ง</th>
                                    <th width="15%">แผนก</th>
                                    <th width="15%">สถานที่ทำงาน</th>
                                    <th width="15%">เงินเดือน</th>
                                    <th width="10%">ประสบการณ์</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mb-6">

                    <div class="col-xl-4 col-sm-2 col-md-3 col-lg-4 mb-4 mb-lg-0">

                    </div>
                    <div class="col-xl-4 col-sm-8 col-md-6 col-lg-4 mb-4 mb-lg-0">
                        <div class="row">
                            <div class="col-6">
                                <button id="SavePostjob" type="button" class="btn btn-block btn-primary btn-md"><span class="icon-save mr-2"></span>สมัครงาน</button>
                            </div>
                            <div class="col-6">
                                <button id="Clear" type="button" class="btn btn-block btn-light btn-md"><span class="icon-clear_all mr-2"></span>ล้างข้อมูล</button>

                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 style="font-family:Tahoma" class="modal-title" id="exampleModalLongTitle">ข้อมูลที่ผู้สมัครควรหลีกเลี่ยงในการระบุในใบเอกสารประวัติการทำงานของผู้สมัคร</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                1. ความเชื่อส่วนบุคคลและประวัติต่างๆ เช่น ศาสนา และ อื่นๆ ดังนี้ <br />
                - แนวความคิดหรือการเข้าร่วมกิจกรรมทางการเมือง<br />
                - ความนิยมทางเพศ<br />
                - สัญชาติ เชื้อชาติหรือการระบุตัวตนทางชนเผ่า<br />
                - ความเป็นพลเมือง การถือสัญชาติและสถานะการลี้ภัย<br />
                - ปรัชญาและหลักศีลธรรมที่ยึดถือ<br />
                - ข้อมูลทางสหาภาพแรงงาน<br />
                - ประวัติอาชญากรรม การสืบสวน ประวัติการพิจารณาคดีและศาล<br />
                2. ข้อมูลที่ละเอียดอ่อนทางการว่าจ้าง เช่น การจ่ายค่าชดเชย  ประวัติทางวินัย  การวางแผนหาผู้สืบทอดตำแหน่ง  <br />
                ประวัติความปลอดภัยในการทำงาน  ประวัติการตรวจสอบภูมิหลัง  ที่อยู่  ข้อมูลผู้รับผลประโยชน์หรือคู่สมรส<br />
                3. ลายเซ็นต์<br />
                4. หมายเลข ๔ ตัวสุดท้ายของบัตรประจำตัวประชาชน<br />
                5. วันเกิดหรืออายุ<br />
                6. ประวัติทางการทหาร<br />
                7. ข้อมูลซึ่งเกี่ยวข้องกับบุตร รวมถึงภาพถ่าย
            </div>
            <div class="modal-footer">
                <button type="button" id="OK" class="btn btn-primary" data-dismiss="modal">รับทราบ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ไม่ยอมรับ</button>
            </div>
        </div>
    </div>
</div>

<textarea class="form-control FontSize" rows="6" id="DetailUserSenmail" name="" placeholder="" hidden> 

I'd like to inform you that our hiring team is currently reviewing all applications and any information given will be held strictly confidential. 
We will contact you if a job matching your skills opens in the near future.

We appreciate your interest in our company.

Best Regards,
Adisorn Recruitment Team

** Please do not reply back to this e-mail. For further information please write to the email: recruitteams@adisorn-skl.com
</textarea>
<div class="modal fade" id="ModalLongSensitive" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 style="font-family:Tahoma" class="modal-title" id="exampleModalLongTitle">นโยบายการคุ้มครองข้อมูลส่วนบุคคลด้านทรัพยากรบุคคล</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea class="form-control FontSize" rows="145" id="DetailUserSenmail" name="" placeholder=""> 
                @ViewBag.Sensitive.Text
                </textarea>
            </div>
            <div class=" text-center">
                <div class="form-group col-md-12 mb-md-0">
                    <label class="">
                        <input id="Agree" type="checkbox" class="" value="">
                        <i style="color:red">ยืนยันการเปิดเผยข้อมูลส่วนบุคคลให้กับ Adisorn Songkhla Co.,Ltd และ บริษัทคู่สัญญา </i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>


