@{
    ViewBag.Title = "FindByCandidates";
}
@Scripts.Render("~/FindByCandidates/js")

<section class="section-hero overlay inner-page bg-image" style="background-image: url('../Content/images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Find By Candidates</h1>
                <div class="custom-breadcrumbs">
                    <a href="~/Home/Index">Home</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Find By Candidates</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-candidates mb-2">งานแผนก @ViewBag.RegisName.Re_Department</h2>
                <p>เลือกผู้สมัครเพื่อนัดสัมภาษณ์</p>
            </div>
        </div>
        <div class="table-responsive">

            <table id="tableCandidates" class="table">
                <thead>
                    <tr>
                        <th>ลำดับที่</th>
                        <th>รูปผู้สมัคร</th>
                        <th>ชื่อ-นามสกุล</th>
                        <th>CV</th>
                        <th>Certificate</th>
                        <th>วันสัมภาษณ์</th>
                    </tr>
                </thead>
                @if (ViewBag.RegisList != null)
                {
                    int counter = 1;
                    foreach (var RegisJob in ViewBag.RegisList)
                    {
                        <tbody>

                            <tr>
                                <td>
                                    <h2 style="color:blue">@counter</h2>
                                </td>
                                <td>
                                    <img src="~/Content/images/DOC/@RegisJob.Pic_File" alt="No Img" class="img-fluid">
                                </td>

                                <td>
                                    <h2 style="color:blue">@RegisJob.Re_Name_TH  @RegisJob.Re_Surname_TH</h2>
                                    <strong style="color:blue">@RegisJob.Re_Position</strong><br />
                                </td>


                                <td>
                                    <a style="color:blue" href="@Url.Content("~/Content/images/DOC/"+@RegisJob.VC_File)">CV</a>
                                </td>

                                <td>
                                    <a style="color:blue" href="@Url.Content("~/Content/images/DOC/"+@RegisJob.Cer_File)">Certificate</a>
                                </td>

                                <td>
                                    <a style="color:blueviolet" id="IntDate" href="@Url.Action("Interview","ManageCandidates",new { ID=@RegisJob.ID})">นัดสัมภาษณ์</a>
                                </td>

                            </tr>
                        </tbody>
                        counter = counter + 1;
                    }
                }
                <tfoot>
                    <tr>
                        <th>ลำดับที่</th>
                        <th>รูปผู้สมัคร</th>
                        <th>ชื่อ-นามสกุล</th>
                        <th>CV</th>
                        <th>Certificate</th>
                        <th>วันสัมภาษณ์</th>
                    </tr>
                </tfoot>
            </table>

        </div>

        <div class="row pagination-wrap" hidden>
            <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                <span>Showing 1-10 Of @ViewBag.RegisList.Count Jobs</span>
            </div>
            <div class="col-md-6 text-center text-md-right">
                <div class="custom-pagination ml-auto">
                    <a href="#" class="prev">Prev</a>
                    <div class="d-inline-block">
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                    </div>
                    <a href="#" class="next">Next</a>
                </div>
            </div>
        </div>

    </div>
</section>

